<header class="header">
  <div class="header-left">
    <h2 class="title">{{ title }}</h2>
    <!-- <div class="nav">
      <span class="nav-item active">Dashboard</span>
      <span class="nav-item">Library</span>
      <span class="nav-item">Shared Flows</span>
    </div> -->
  </div>
  
  <div class="header-right">
    <button class="icon-btn" onclick="document.documentElement.classList.toggle('dark')">
      <span class="material-symbols-outlined light-mode-only">dark_mode</span>
      <span class="material-symbols-outlined dark-mode-only">light_mode</span>
    </button>
    
    <button class="icon-btn">
      <span class="material-symbols-outlined">notifications</span>
    </button>
    
    <button class="icon-btn">
      <span class="material-symbols-outlined">settings</span>
    </button>

    <div class="profile">
      <img alt="User profile" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAO-Ik_t65p-49Bdl9dE8amPZkTp9UkYCAclw742Z_erKecGG98fT4h28N9ygL-MXVJzXd-F-Wk8p3t8XLlIgDRVAKnfCOmTt7A9TH2KEdEuAsa7Ua_iGnqtvSRLd_HsTjS0KebH3YLd0gqqbr8znjrTasf029gnwAbEaVrUAywU0AHDw4ZGxQtkxv7l2h7wiF5Qa_vcrVibKQnAxGIw4jjdwonal8W9_rAb67Gs44FdbMVbHfZrAjj14OqbV4gvNhm1a8QTmPdBZI"/>
    </div>
  </div>
</header>